<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548427842369-epuj9n77cn3i5bclhsleo37ktpc8ncif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548427842369-epuj9n77cn3i5bclhsleo37ktpc8ncif</string>
	<key>API_KEY</key>
	<string>AIzaSyAejmG1yZYcH_O0YnIKrZhFrNDX94Umx9k</string>
	<key>GCM_SENDER_ID</key>
	<string>548427842369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agoraFlutter</string>
	<key>PROJECT_ID</key>
	<string>friend-zone-22e6b</string>
	<key>STORAGE_BUCKET</key>
	<string>friend-zone-22e6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548427842369:ios:c51dda10c92a167abb57c0</string>
</dict>
</plist>